language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

install: composer install --dev --prefer-source

notifications:
  email: "douglas@usemarkup.com"

matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
