language: php

php:
    - 7.1
    - 7.2

env:
    global:
        - deps=high

install:
    - if [ "$deps" = "high" ]; then composer --prefer-source install --ignore-platform-reqs; fi;
    - if [ "$deps" = "low" ]; then composer --prefer-source --prefer-lowest --prefer-stable --ignore-platform-reqs update; fi

script:
    - bin/phpstan.phar analyse -c phpstan.neon --level 1 .
    - vendor/phpunit/phpunit/phpunit --debug

notifications:
  email: "douglas@usemarkup.com"

matrix:
  allow_failures:
    - php: 7.2
  include:
    - php: 7.1
      env: deps=low

sudo: false
dist: trusty
