parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/bin/*
    ignoreErrors:
        - '#Class Symfony\\Component\\DependencyInjection\\ChildDefinition not found#'
        - '#Class Symfony\\Component\\DependencyInjection\\DefinitionDecorator not found#'
        - '#Access to undefined constant Symfony\\Component\\DependencyInjection\\ContainerInterface::SCOPE_PROTOTYPE#'
    reportUnmatchedIgnoredErrors: false
