parameters:
    excludes_analyse:
        - */DependencyInjection/Configuration.php
    ignoreErrors:
        - '#Query::addDocuments\(\) expects array#'
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
